//Header
.header-image-box{
//	width: 100%;
//	height: 300px;
	position: relative;
}
.header-image{
	width: 100%;
}
.header-image-box h1{
	display:none;
	}
@media (min-width: @screen-sm-min){
	.header-image-box h1{
		display:block;
		position: absolute;
		top: calc(50% - 24px);
		left: 0;
		text-align: center;
		width: 100%;
		font-size: 100px;	
	}
}
//Content
.region-content article{
	p{
	//line-height: 2;
	//margin-bottom: 25px;
	font-size: 120%;
	}
	h1, h2, h3, h4, h5{
	//	line-height: 1;
	//	margin-bottom: 30px;
	}
} 

//Colors

@brand-primary:         #57B414;
@brand-success:         #0F8A5C;
@brand-info:            #5bc0de;
@brand-warning:         #CC4F17;
@brand-danger:          #B91541;


//Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:300,400');

@font-family-sans-serif: 'Open Sans', sans-serif;
@font-family-serif:      'Oswald', sans-serif;
//Old fonts: sans-serif:"Helvetica Neue", Helvetica, Arial, sans-serif; serif: Georgia, "Times New Roman", Times, serif;
@headings-font-family:    @font-family-serif;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


@line-height-base: 2;





//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone

@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (768px + @grid-gutter-width);
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (992px + @grid-gutter-width);
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1200px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;
